.sectionHome{
  background-color: #090630;
  color: aliceblue;
}

.bodySection {
  display: flex;
  flex-direction: column-reverse;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}
.profilePic {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.profilePic img {
  height: 300px;
  width: 300px;
}

.introBoxOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 0px 30px;
}

.introBoxOne div {
  margin-top: 20px;
}

.profileButtons {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  margin-top: 40px;
}

.name {
  font-size: 27px;
}
.designation {
  font-size: 22px;
}
.introDesc {
  font-size: 15px;
}

.profileButtons button {
  height: 40px;
  width: 150px;
  border: 1px solid white;
  margin-right: 20px;
}

.profileButtons button:hover {
  border: 1px solid rgb(51, 224, 3);
  color: rgb(51, 224, 3);
}

@media screen and (min-width: 1040px) {
  .bodySection {
    display: flex;
    flex-direction: row;
  }
  .intro {
    flex: 55%;
  }
  .profilePic {
    flex: 45%;
  }

  .introBoxOne {
    margin-top: -50px;
  }
}
