.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #090630;
    color: aliceblue; 
  }
  .navTitle {
    font-size: 35px;
    margin: 20px 0px;
  }
  .navLinks {
    margin-left: -30px;
  }
  
  .navLinks ul {
    list-style: none;
    text-decoration: none;
  }
  .navLinks ul li {
    margin: 15px 0px;
  }
  .navLinks ul li a {
    text-decoration: none;
  }
  .navLinks ul li a:hover {
    color: rgb(51, 224, 3);
  }
  
  .horizonLineBox {
    margin: 60px 0px;
    padding: 0px 20px;
  }
  .horizon:hover {
    border: 1px solid rgb(51, 224, 3);
  }



  @media screen and (min-width: 1040px) {
    .navbar {
      flex-direction: row;
    }
    .navTitle {
      font-size: 30px;
      padding-top: 5px;
      padding-left: 30px;
      flex: 30%;
    }
    .navLinks {
      flex: 70%;
      display: flex;
      justify-content: center;
    }
  
    .navLinks ul {
      display: flex;
    }
    .navLinks ul li {
      padding: 0px 20px;
    }
  
    .horizonLineBox {
     margin-top: 0px;

    }

  }